.carousel-inner img {
    width: 100%;
    height: 550px;
    object-fit: contain;
    background-color: slategray;
}

h1 {
    padding-top: 70px;
}

.container mt-4 {
    padding-top: 50px;
}

.list-group {
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 10;
}

.col-sm-6 img {
    border-radius: 10px;
    width: 40%;
    margin-top: 10px;

}

.card {
    margin-top: 20px;
}

.col-lg-6 {
    margin: 40px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 20px;
}

.col-lg-5 img {
    border-radius: 20px;
    width: 100%;
    margin-right: 40px;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.table-container {
    margin: 40px;
    margin-top: 10px;
    border: 1px solid grey;
}

.navbar {
    background-color: #f1f1f1;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

body {
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #0056b3;
}